*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.714);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color:white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color:rgba(0, 0, 255, 0.736);
    text-shadow: 0 0 25px rgba(0, 0, 255, 0.736),
                 0 0 50px rgba(0, 0, 255, 0.736);
    transform: scale(1.1);
}
span{
    color: rgba(0, 0, 255, 0.736);
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color: rgba(0, 0, 255, 0.736);
    border-bottom: 3px solid rgba(0, 0, 255, 0.736);
}
.contact{ 
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: rgba(0, 0, 255, 0.736);
    box-shadow: 0 0 25px rgba(0, 0, 255, 0.736);
    color: white;
}

.project{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: left;
    gap: 7em;
    padding: 110px 12% 50px;
}
.project-content{
    padding: 90px 2% 50px ;
    background: rgb(241, 241, 241);
    align-items: left;
    gap: 2em;
    width: 80%;
    min-height: 10vh;
}
.project-content p{
    font-size: 18px;
    font-weight: 250;
    padding: 15px;
}
.project-content a{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50px;
    transition: 0.3s ease;
}
.project-content a:hover,
.project-content a:active{
    color: black;
    background-color: white;
    text-shadow: 0 0 25px black,
                 0 0 50px black;
    transform: scale(1.1);
}